* {
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    flex-direction: column; */
/* } */

button {
    width: 40px;
    height: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align: center;
    margin-top: 10px;
}

#add-book {
    margin-top: 20px;
}

.books-container {
    display: flex;

}

.book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}